

.folter {
    width: 89px;
height: 19px;
left: 485px;
top: 71px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}

.ccoloraque{
    color: aqua;
}

.colorgreen {
    color: green;
}

.colorblue {
    color: blue;
}